* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: var(--regInter);
}

@font-face {
  font-family: regInter;
  src: url('../fonts/static/Inter-Regular.ttf');
}

@font-face {
  font-family: boldInter;

  src: url('../fonts/static/Inter-Bold.ttf');
}
@font-face {
  font-family: xtraBoldInter;
  src: url('../fonts/static/Inter-ExtraBold.ttf');
}

:root {
  /* Fonts */
  --regInter: regInter;
  --boldInter: boldInter;
  --xtraBoldInter: xtraBoldInter;

  /* Colors */
  /* Primary */
  --softOrange: hsl(35, 77%, 62%);
  --softRed: hsl(5, 85%, 63%);
  /* Neutral */
  --offWhite: hsl(36, 100%, 99%);
  --grayishBlue: hsl(233, 8%, 79%);
  --darkGrayishBlue: hsl(236, 13%, 42%);
  --veryDarkBlue: hsl(240, 100%, 5%);
}

body {
  width: 100%;
  height: 100%;
}

nav {
  display: flex;
  width: 100%;
  height: 100px;
  justify-content: space-between;
  align-items: center;
  padding: 0 100px;
}
nav .logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

nav .menu {
  display: flex;
  width: 400px;
  justify-content: space-between;
  transition: all ease-in-out 0.35s;
}
.burger-menu {
  height: 30px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 30px;
  top: 30px;
  display: none;
  z-index: 9;
  cursor: pointer;
  transition: all ease-in-out 0.35s;
}
.burger-menu .burger {
  background-image: url('../images/icon-menu.svg');
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 100%;
}

.menu a {
  text-decoration: none;
  font-size: 15px;
  color: var(--darkGrayishBlue);
  transition: color ease-in-out 0.2s;
}

.menu a:hover {
  color: var(--softRed);
}

main {
  width: 100%;
  height: 100%;
  padding: 0 100px;
  display: grid;
  grid-template-columns: 33% 33% 30%;
  grid-template-rows: auto auto auto auto;
  column-gap: 30px;
  row-gap: 20px;
}
main .top-headline {
  display: grid;
  grid-column: 1 / span 2;
  width: 100%;
  overflow: hidden;
  grid-template-columns: 50% 50%;
  row-gap: 20px;
  column-gap: 20px;
}

.top-headline .head-image {
  width: 100%;
  grid-column: 1 / span 2;
}
.head-image img {
  max-width: 100%;
}

.top-headline h1 {
  max-width: 300px;
  font-size: 50px;
  font-family: var(--xtraBoldInter);
  color: var(--veryDarkBlue);
}

.top-headline .head-texts {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.head-texts p {
  font-size: 16px;
  color: var(--darkGrayishBlue);
}
.head-texts .button {
  width: 180px;
  background-color: var(--softRed);
  color: #fff;
  display: flex;
  justify-content: center;
  height: 50px;
  align-items: center;
  text-transform: uppercase;
  font-family: var(--boldInter);
  font-size: 15px;
  letter-spacing: 2px;
  transition: all ease-in-out 0.35s;
  cursor: pointer;
}
.head-texts .button:hover {
  background-color: var(--veryDarkBlue);
}

main .side-article {
  background-color: var(--veryDarkBlue);
  color: #fff;
  padding: 30px 30px 10px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.side-article h1 {
  font-size: 35px;
  width: fit-content;
  color: var(--softOrange);
}
.side-article div {
  height: 100px;
  border-bottom: 1px solid var(--grayishBlue);
}
.side-article div:nth-child(4) {
  border-bottom: none;
}
.side-article div h3 {
  font-size: 20px;
  margin-bottom: 10px;
  cursor: pointer;
}
.side-article div:hover h3 {
  color: var(--softOrange);
}
.side-article div p {
  font-size: 14px;
  color: var(--grayishBlue);
}
main .other-news {
  margin-top: 50px;
  display: flex;

  overflow: hidden;
}
.other-news .btm-img {
  height: 130px;
  overflow: hidden;
  margin-right: 10px;
}
.btm-img img {
  height: 130px;
}

.other-news div h1 {
  color: var(--grayishBlue);
  letter-spacing: 1.5px;
}

.other-news div h3 {
  color: var(--veryDarkBlue);
  transition: all ease-in-out 0.35s;
  cursor: pointer;
  font-size: 16px;
  font-family: var(--boldInter);
}
.other-news:hover div h3 {
  color: var(--softRed);
}
.other-news div p {
  font-size: 15px;
  color: var(--darkGrayishBlue);
  line-height: 26px;
}

@media screen and (max-width: 800px) {
  nav {
    padding: 0 5%;
  }
  .blur-screen {
    background-color: #00000065;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: none;
  }
  .blur-screen.active {
    display: block;
  }
  nav .menu {
    display: none;
  }
  nav .menu.active {
    position: absolute;
    bottom: 0;
    right: 0;
    flex-direction: column;
    background-color: #fff;
    width: 300px;
    height: 100%;
    display: flex;
    justify-content: center;
    padding: 0 30px;
    transition: display ease-in-out 0.35s;
    background-color: #fff;
  }
  .menu a {
    color: var(--veryDarkBlue);
    font-size: 18px;
    margin-bottom: 30px;
  }
  .burger-menu {
    display: block;
  }
  .burger-menu.active .burger {
    background-image: url('../images/icon-menu-close.svg');
  }
}
